@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.banner {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 160px;
  overflow: hidden;
}

.banner-left {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
}

.banner-left header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.banner-left header img {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  flex-shrink: 0;
}

.banner-left header p {
  color: var(--Black-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

.banner-left header p strong {
  color: var(--Black-Primary, #121212);
  font-weight: 500;
}

.banner-content {
  width: 100%;
  display: flex;
  max-width: 692px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.banner-content h1 {
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -3.2px;
}

.banner-content p {
  color: var(--Black-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.44px;
}

.primary-button {
  display: flex;
  height: 52px;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: all 0.3s;
}

.primary-button p {
  color: var(--Red-Primary, #e41a24);
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
  transition: all 0.3s;
}

.primary-button:hover p {
  color: var(--Red-red-900, #600b0f);
}

.primary-button svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}

.primary-button svg path {
  transition: all 0.3s;
}

.primary-button:hover svg path {
  fill: #600b0f;
}

.banner-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: stretch;
}

.banner-right img {
  width: 100%;
  object-fit: cover;
}

.reach {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  background: var(--BG, #f5f5f5);
}

.reach-container {
  display: flex;
  width: 100%;
  padding: 40px 80px;
  align-items: flex-start;
  gap: 40px;
  background: var(--White, #fff);
}

.reach-container a {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  transition: all 0.3s;
}

.reach-container a svg {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.reach-container a svg path {
  transition: all 0.3s;
}

.reach-container a:hover svg path {
  fill: #600b0f;
}

.reach-container p {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  color: var(--Black-Primary, #121212);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.reach-container p span {
  color: var(--Black-black-300, #606060);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.about {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.about-left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-self: stretch;
}

.about-left img {
  width: 100%;
  object-fit: cover;
}

.about-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.about-right h2 {
  color: var(--Red-Primary, #e41a24);
  font-family: "Plus Jakarta Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -2.56px;
}

.about-right p {
  color: var(--Black-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

.numbers {
  width: 100%;
  padding: 80px 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background: var(--Red-red-600, #cf1821);
}

.numbers article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers span {
  color: var(--White, #fff);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -1.28px;
}

.numbers p {
  color: var(--Black-black-50, #e7e7e7);
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.4px;
}

.services {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  background: var(--BG, #f5f5f5);
  overflow: hidden;
}

.services h2 {
  color: var(--Grey-grey-300, #a7a7a7);
  font-family: "Plus Jakarta Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1.28px;
}

.services h2 span {
  color: var(--Red-Primary, #e41a24);
}

.services-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.arrow-button {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  border: 1px solid var(--Black-Primary, #121212);
  flex-shrink: 0;
  background: none;
  outline: none;
  transition: all 0.3s;
}

.arrow-button img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.services-buttons .arrow-button:first-child img {
  transform: rotate(180deg);
}

.services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}

.services-slider {
  width: 100%;
  display: flex;
  gap: 12px;
  transition: all 0.3s;
}

.services-set {
  width: calc((100% / 3) - 8px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}

.services-set-img {
  width: 100%;
  aspect-ratio: 380/321;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-set-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-set p {
  color: var(--Black-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
}

.services-progress-bar {
  width: 100%;
  height: 12px;
  border-radius: 20px;
  background: rgba(214, 214, 214, 0.5);
  transition: all 0.3s;
}

.services-progress-bar-indicator {
  width: 285px;
  height: 12px;
  border-radius: 20px;
  background: var(--Black-black-100, #b6b6b6);
  transition: all 0.3s;
}

.security {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.security header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.security header h2 {
  color: var(--Black-Primary, #121212);
  font-family: "Plus Jakarta Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1.28px;
}

.security header p {
  width: 50%;
  color: var(--Black-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.security-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.security-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  overflow: hidden;
}

.security-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(226, 226, 226, 0.2);
}

.security-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.security-text p {
  color: var(--Black-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
  transition: all 0.3s;
}

.security-text p:hover {
  color: var(--Red-Primary, #e41a24);
}

.security-text hr {
  width: 100%;
  border: 1px solid #f2f2f2;
}

.hours-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hours-img img {
  height: 100%;
  object-fit: cover;
}

.partnerships {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.partnerships h2 {
  color: var(--Black-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.48px;
}

.contact {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 80px 120px;
  background: var(--BG, #f5f5f5);
}

.contact-container {
  display: flex;
  width: 100%;
  padding: 64px 40px;
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
  gap: 64px;
}

.contact-left {
  width: 100%;
  max-width: 487px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
}

.contact-left header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.contact-left header h2 {
  color: var(--Black-Primary, #121212);
  font-family: "Plus Jakarta Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -2.56px;
}

.contact-left header p {
  color: var(--Black-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.contact-form-inputs {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.contact-form-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.contact-form-inputs-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.contact-form-input-container label {
  color: var(--Black-black-400, #414141);
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

.contact-form-input-container input {
  width: 100%;
  display: flex;
  height: 52px;
  padding: 12px 16px;
  align-items: center;
  align-self: stretch;
  border: 0.7px solid var(--Grey-grey-200, #c2c2c2);
  color: var(--Black-black-200, #929292);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.contact-form-input-container textarea {
  width: 100%;
  height: 150px;
  resize: none;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  align-self: stretch;
  border: 0.7px solid var(--Grey-grey-200, #c2c2c2);
  color: var(--Black-black-200, #929292);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.contact-form-input-container input:not(:placeholder-shown),
.contact-form-input-container textarea:not(:placeholder-shown) {
  color: #111;
}

.contact-form button {
  display: flex;
  width: 100%;
  height: 52px;
  justify-content: center;
  align-items: center;
  background: var(--Red-Primary, #e41a24);
  color: var(--BG, #f5f5f5);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  border: 1px solid #e41a24;
  cursor: pointer;
  transition: all 0.3s;
}

.contact-form button:hover {
  background: #fff;
  color: #e41a24;
}

footer {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.footer-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-top img {
  width: 102px;
  height: 102px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  object-fit: cover;
}

.footer-top nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-top nav a {
  color: var(--Black-black-300, #606060);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-top nav a:hover {
  color: #000;
}

footer hr {
  width: 100%;
  border: 1px solid #ebebeb;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-bottom p {
  color: var(--Grey-grey-600, #707070);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.footer-bottom a {
  color: var(--Grey-grey-600, #707070);
  text-decoration: none;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}

.footer-bottom a:hover {
  color: #ffbf00;
  border-bottom: 1px solid #ffbf00;
}
